easydict==1.9
Flask==1.1.2
Flask-Compress==1.8.0
Flask-Cors==3.0.9
Flask-SocketIO==5.0.1
Flask-Sockets==0.2.1
imageio==2.9.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.4
Pillow==8.0.1
python-dotenv==0.15.0
python-engineio==4.0.0
python-socketio==5.0.3
requests==2.25.0
scipy==1.5.4
virtualenv==20.2.1