<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        
        $(document).ready(function() {
            
        });
    </script>
    </head>
<body>


    
    
    <script>

        var opts = ['max_tokens', 'temperature', 'top_p', 'frequency_penalty', 'presence_penalty'];
        for (var i=0; i<opts.length; i++) {
            console.log(opts[i]);
            console.log('go o', opts[i]+'_val')


            //$('#'+opts[i]+'_val').html($('#'+opts[i]).val());
        }

      </script>

</body>
</html>

