<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" charset="utf-8">        
        $(document).ready(function() {
            console.log('visit localhost:3000')
        });
    </script>
    </head>
    <body>
        <h1>
            Hello Mars!
        </h1>
        <p>
            please visit <a href="http://localhost:3000">http://localhost:3000</a>
        </p>
        <script>
            // var opts = ['max_tokens', 'temperature', 'top_p', 'frequency_penalty', 'presence_penalty'];
        </script>
    </body>
</html>

