<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        
        $(document).ready(function() {
            namespace = '/gpt3';
            var socket = io(namespace);    // http[s]://<domain>:<port>[/<namespace>]

            socket.on('connect', function() {
                //socket.emit('connected', {data: 'I\'m connected!'});
            });

            socket.on('completion', function(msg, cb) {
                console.log('got back response')
                console.log(msg.data)
                $('#log').append('<br>' + msg.data);
                if (cb) {
                    cb();
                }
            });

            $('form#emit').submit(function(event) {

                // var temperature = float(document.getElementById('temperature').value);
                // var max_tokens = int(document.getElementById('max_tokens').value);

                var prompt = $('#prompt_text').val();
                var temperature = parseFloat($('#temperature').val());
                var max_tokens = parseInt($('#max_tokens').val());
                var top_p = parseFloat($('#top_p').val());
                var frequency_penalty = parseFloat($('#frequency_penalty').val());
                var presence_penalty = parseFloat($('#presence_penalty').val());

                console.log(temperature, max_tokens, 'go ok')



                socket.emit('completion_request', {
                    prompt: prompt,
                    temperature: temperature,
                    max_tokens: max_tokens,
                    top_p: top_p,
                    frequency_penalty: frequency_penalty,
                    presence_penalty: presence_penalty
                });
                return false;
            });


 
        });
    </script>

    <style>
    
    #playground_text {
        background-color:#ff0;
        display: inline-block;
        vertical-align: text-top;
    }
    #playground_menu {
        background-color:#f00;
        display: inline-block;
        vertical-align: text-top;
    }
    #playground {
        background-color:#00f;
    }
    
    .slider {
        width: 97%;
    }



    </style>

</head>
<body>


    <div id="playground">
    
        <div id="playground_text">
            <form id="emit" method="POST" action='#'>
            <textarea rows=30 cols=100 name="prompt_text" id="prompt_text" placeholder="Message"></textarea>
            <br/>
            <input type="submit" value="Submit">
            </form>
        </div>

        <div id="playground_menu">

            <label for="engines">Engine:</label>
            <select name="engines" id="engines">
              <option value="davinci">davinci</option>
              <option value="curie">curie</option>
              <option value="babbage">babbage</option>
              <option value="ada">ada</option>
            </select> 
        
            <h3>
                Response Length (<span id="max_tokens_val"></span>)
                <br/>
                <input type="range" min="50" max="400" value="125" step="1" class="slider" id="max_tokens">
            </h3>
            <h3>
                Temperature (<span id="temperature_val">125</span>)
                <br/>
                <input type="range" min="0" max="1" value="0.9" step="0.01" class="slider" id="temperature">
            </h3>

            <h3>
                Top P (<span id="top_p_val">125</span>)
                <br/>
                <input type="range" min="0" max="1" value="0.9" step="0.01" class="slider" id="top_p">
            </h3>

            <h3>
                Frequency Penalty (<span id="frequency_penalty_val">125</span>)
                <br/>
                <input type="range" min="0" max="1" value="0.9" step="0.01" class="slider" id="frequency_penalty">
            </h3>
            
            <h3>
                Presence Penalty (<span id="presence_penalty_val">125</span>)
                <br/>
                <input type="range" min="0" max="1" value="0.9" step="0.01" class="slider" id="presence_penalty">
            </h3>
            
            <h3>
                Stop Sequences
            </h3>
            
        </div>

    </div>

    <h2>Receive:</h2>
    <div id="log"></div>

    
        


    </div>

    
    
    <script>

        var opts = ['max_tokens', 'temperature', 'top_p', 'frequency_penalty', 'presence_penalty'];
        for (var i=0; i<opts.length; i++) {
            console.log(opts[i]);
            console.log('go o', opts[i]+'_val')


            //$('#'+opts[i]+'_val').html($('#'+opts[i]).val());
        }

      </script>

</body>
</html>

